body{
   
    background-image: url(https://img.elo7.com.br/product/main/1987A04/papel-de-parede-listrado-vertical-32-papel-de-parede-para-banheiro.jpg);
}
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 45%;
}
.btn{
    display: flex;
    flex-direction: row;
    
}
.btn-cabecalho{
    margin: 5px;
    width: 50%;
    height: 30px;
    font-size: 16px;
    border-radius: 45%;
    color: white;
    background-color: cadetblue;
    box-shadow: 2px 5px 9px black;
}
.centralizar{
    display: flex;
    justify-content: center;
}
.btn-cabecalho:hover{
    color: rgb(215, 241, 68);
    background-color: lightslategray;
}

#menu{
   
   margin-left: 35%;
    height: auto;
    width: 25%;
    padding: 10px 10px 10px 10px ;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(28, 119, 99);
    box-shadow: 2px 5px 5px  black;  
   
}
#menu li{
    
    display: inline;
    font-size: auto;    
}
#menu li a{  
    width: auto;
    margin: 2px;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    top: 4px;
    padding: 5px 8px 5px 10px;   
}
#menu li a:hover{
    color: rgb(215, 241, 68);
}
#menu  li a:hover, #menu  li a.active{
    color:burlywood;
    background-color: rgb(152, 230, 213);
}
.titulo{ 
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
   
    color:#ffff ;   
}
.center{
    text-align: center; 
}
.justify{
    justify-content: justify;
}
.sub-titulo{
    color: white;
}
.login{
    border : 2px solid #e95a32;
    padding: 30px;
    border-radius: 9px;
    box-shadow: 0px 5px 8px 0px black;
    background-color: rgba(172, 212, 236, 0.514);
    display: flex;
    
    justify-content: flex-end;
    margin-bottom: 50px;
}
.container{
    border : 2px solid #e95a32;
    padding: 30px;
    border-radius: 9px;
    box-shadow: 0px 5px 8px 0px black;
    background-color: rgba(172, 212, 236, 0.514);
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
          
 }

 .container > div{
   width: 100%;
}
.padding-30{
    padding: 30px;
}
.image{
    border-radius: 50%;
    width: 95%;
    height: 95%;
    padding: 30px;
}
.video{
    width:100%;
    height:315px;
    
}
.paragrafo{   
    flex-direction: column;
    padding: 30px;   
}
.texto-white{
    color: #ffff;
}
.size-20{
    font-size: 20px;
}
.texto{
    color: #000;
    font-size: 18px;
   
}
.icones{
    width: 30px;
    height: 30px;
    padding: 0px 15px 0px 5px ;
    text-decoration: none;
    
}
.autoral{
    color: white;
    text-align: center;
   

}
.mr-50{
    margin-right: 150px;
}

/* Contato.html*/

.ml-50{
    margin-left: 50px;
}
.txtarea{
    
    border-radius: 8px;
}
.label{
    margin-left: 10px;
    border-radius: 8px;
}
.botao{
    width: 100%;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: cadetblue;
    box-shadow: 2px 5px 9px black;
    
}
.botao:hover{
    color: rgb(215, 241, 68);
    background-color: lightslategray;
}
.direct{
    text-decoration: none;
    color: white;
}